<h3>Comments:</h3>
<% post.comments.each do |comment| %>
  <div class="comment-container">
    <% if comment.user.profile_picture.present? %>
      <%= image_tag(current_user.profile_picture.variant(resize_to_limit: [50, 50])) %>
    <% else %>
      <%= image_tag 'profile.png' %>
    <% end %>
    <div>
      <strong><%= comment.user.first_name %></strong>
      <div class="comment-content">
        <p><%= comment.content %></p>
        <%= render 'like', record: comment %>
      </div>
    </div>
  </div>
<% end %>
