<div class="post-card">
  <div class="post-card-header">
    <div>
      <strong>Title:</strong>
      <%= post.title %>
    </div>
    <% if post.user.profile_picture.present? %>
      <%= image_tag(post.user.profile_picture.variant(resize_to_limit: [50, 50])) %>
    <% else %>
      <%= image_tag 'profile.png' %>
    <% end %>
  </div>
  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>
  <div class= "post-card-actions">
    <div>
      <%= "#{post.comments.size} comments" %>
      <%= "#{post.likes.size} likes" %>
    </div>
    <%= render 'like', record: post %>
  </div>
</div>

<% if local_assigns[:include_form].present? %>
  <div id="<%= dom_id post %>_comments">
    <%= render 'comments', post: post %>
    <%= render 'comments/form', post: post %>
  </div>
<% end %>
