<p style="color: green"><%= notice %></p>

<div class='navbar'>
  <h1>Posts</h1>
  <%= link_to "New post", new_post_path, class: 'button' %>
</div>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, class: 'show-link' %>
    </p>
  <% end %>
</div>
<%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'link' %>
