<p style="color: green"><%= notice %></p>

<%= render @post, include_form: true %>

<div>
  <% if current_user.posts.include?(@post) %>
    <%= link_to "Edit this post", edit_post_path(@post), class: 'edit-link' %> |
  <% end %>
  <%= link_to "Back to posts", posts_path, class: 'back-link' %>
  <% if current_user.posts.include?(@post) %>
    <%= button_to "Destroy this post", @post, method: :delete, class: 'button' %>
  <% end %>
</div>
