<!DOCTYPE html>
<html>
  <head>
    <title>RoR Getting Started</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="http://localhost:3000//style.css">
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar" >
        <%= link_to 'All Posts', posts_path %>
        <%= link_to edit_user_registration_path do %>
          <% if current_user.profile_picture.present? %>
            <%= image_tag(current_user.profile_picture.variant(resize_to_limit: [50, 50])) %>
          <% else %>
            <%= image_tag 'profile.png', style: 'height: 50px; width: 50px;' %>
          <% end %>
        <% end %>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
